[Service]
Environment="RUST_LOG=info,hyper=info,async_nats=info,oci_client=info,cranelift_codegen=warn"
Environment="WASMCLOUD_LOG_LEVEL=info"
Environment="WASMCLOUD_OCI_ALLOWED_INSECURE={{ hostvars[inventory_hostname].registry }}:5000"
Environment="WASMCLOUD_OCI_REGISTRY={{ hostvars[inventory_hostname].registry }}:5000"
Environment="WASMCLOUD_OCI_REGISTRY_USER='spike'"
Environment="WASMCLOUD_OCI_REGISTRY_PASSWORD='valentine'"
Environment="WASMCLOUD_NATS_HOST={{ hostvars[inventory_hostname].ansible_host }}"
Environment="WASMCLOUD_NATS_PORT={{ hostvars[inventory_hostname].nats_port }}"
Environment="WASMCLOUD_LATTICE=default"
Environment="WASMCLOUD_JS_DOMAIN=wasmcloud"
Environment="WASMCLOUD_LABEL_zone={{ hostvars[inventory_hostname].label }}"
Environment="WASMCLOUD_NATS_CREDS={{ nats_local_credential }}"
Environment="WASMCLOUD_ALLOW_FILE_LOAD=true"
Environment="WASMCLOUD_STRUCTURED_LOGGING_ENABLED=true"
Environment="WASMCLOUD_OBSERVABILITY_ENABLED=true"
# Environment="WASMCLOUD_METRICS_ENABLED=true"
# Environment="WASMCLOUD_LOGS_ENABLED=true"
# Environment="WASMCLOUD_TRACES_ENABLED=true"
Environment="OTEL_EXPORTER_OTLP_ENDPOINT=http://127.0.0.1:4318"
Environment="OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://127.0.0.1:4318"
Environment="OTEL_EXPORTER_OTLP_METRICS_ENDPOINT=http://127.0.0.1:4318"
Environment="http_proxy={{ http_proxy }}"
Environment="https_proxy={{ https_proxy }}"
Environment="HTTP_PROXY={{ http_proxy }}"
Environment="HTTPS_PROXY={{ https_proxy }}"
