server {
    listen 80;
    server_name nats.bebop.lan;

    # Redirection vers HTTPS
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name nats.bebop.lan;

    ssl_certificate     /etc/ssl/certs/nats.bebop.lan.crt;
    ssl_certificate_key /etc/ssl/private/nats.bebop.lan.key;

    root /var/www/nats.bebop.lan;

    location /jwt/v1/accounts/ {
        # Permet la navigation dans le répertoire
        autoindex on;

        # Autoriser uniquement les fichiers .jwt
        try_files $uri $uri.jwt $uri/ =404;

        # Type MIME explicite
        default_type application/jwt;

        # Empêcher le caching si besoin
        add_header Cache-Control "no-store";

        # Header CORS si tu veux tester depuis navigateur (optionnel)
        add_header Access-Control-Allow-Origin *;
    }
}
